body {
  background-color: #2155cd;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Weather {
  width: 90%;
  padding: 20px 10px 10px;
  margin: 0 auto;
}

.Weather-header {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: #0aa1dd;
  border: 2px black solid;
}
input {
  display: block;
  border: 1px solid #dbe1eb;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  color: #2e3133;
  margin: 1.3rem auto;
}

button {
  display: block;
  margin: 2rem auto 0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 600;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #2155cd;
  border-radius: 6px;
  border: 2px solid #000000;
}

button:hover {
  color: #1883ba;
  background-color: #ffffff;
  cursor: pointer;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
  font-family: sans-serif;
  color: #e8f9fd;
  text-shadow: #2e3133 1px 2px;
}

.Weather-body{
  margin: 25px auto;
}

.content{
  display:flex;
  margin: 0 auto;
  width: 100%;
 justify-content: space-around;
 background-color: #dbe1eb;
}

img{
  width: 8%;
}

.content h2{
  margin: auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.countryData{
  color: gray;
}

@media (max-width:600px) {

  .content{
    display: block;
    justify-content: center;
  }

  .content h2{
    margin: 30px  0 30px 0;
    padding-bottom: 40px;
    text-align: center;
  }

  .content img{
    display: block;
    margin: auto;
    width: 30%;
  }
  
}

@media (max-width:450px) {

  input{
    max-width: 90%;
  }
  
}